.backdrop {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, .6);
   position: fixed;
   top: 0;
   left: 0;
   opacity: 1;
   z-index: 20;
   animation: slowMotion .2s ease-in ;
   -webkit-animation: slowMotion .2s  cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

 @keyframes slowMotion {
   0%{
    opacity: 0;
   }
   50%{
     opacity: .5;
   }
   80%{
     opacity: .8;
   }
   100%{
     opacity: 1;
   }
 }